<div class="ment-feed">

    <div class="ment-feed-content">
        <div class="ment-feed-header">
            <div class="ment-feed-header">
                <div class="ment-icon"></div>
                <div class="ment-icon-text">
                    <h3 class="ment-high-emphasis">High Emphasis</h3>
                    <h4 class="ment-medium-emphasis">Medium Emphasis</h4>
                </div>
            </div>
            <div class="ment-feed-more"><img class="ment-icon-more" src="assets/img/dots_vertical.png" alt="See More About it"></div>
        </div>
        <div class="ment-spacer">
            <div class="ment-feed-tag">Tag</div>
        </div>
        <div class="ment-spacer">
            <h2 class="ment-high-emphasis" style="font-weight: normal;">High Emphasis</h2>
        </div>
        <div class="ment-feed-image ment-spacer">
            <div class="ment-image-sim"></div>
        </div>
        <div class="ment-feed-footer ment-spacer">
            <div class="ment-feed-footer">
                <div class="ment-small-icon"></div>
                <div class="ment-small-icon"></div>
                <div class="ment-small-icon"></div>
                <h6 class="ment-high-emphasis">128</h6>
            </div>
            <h6 class="ment-medium-emphasis">20 Comentários</h6>
        </div>
    </div>


    <div class="ment-content-spacer"></div>


    <div class="ment-feed-content">
        <div class="ment-feed-header">
            <div class="ment-feed-header">
                <div class="ment-icon"></div>
                <div class="ment-icon-text">
                    <h3 class="ment-high-emphasis">High Emphasis</h3>
                    <h4 class="ment-medium-emphasis">Medium Emphasis</h4>
                </div>
            </div>
            <div class="ment-feed-more"><img class="ment-icon-more" src="assets/img/dots_vertical.png" alt="See More About it"></div>
        </div>
        <div class="ment-spacer">
            <div class="ment-feed-tag">Tag</div>
        </div>
        <div class="ment-spacer">
            <h2 class="ment-high-emphasis" style="font-weight: normal;">High Emphasis</h2>
        </div>
        <div class="ment-feed-image ment-spacer">
            <div class="ment-image-sim"></div>
        </div>
        <div class="ment-feed-footer ment-spacer">
            <div class="ment-feed-footer">
                <div class="ment-small-icon"></div>
                <div class="ment-small-icon"></div>
                <div class="ment-small-icon"></div>
                <h6 class="ment-high-emphasis">128</h6>
            </div>
            <h6 class="ment-medium-emphasis ment-comments">20 Comentários</h6>
        </div>
    </div>

</div>