<div class="ment-feed-content">
    <div class="ment-feed-header">
        <div class="ment-feed-header">
            <div class="ment-icon"></div>
            <div class="ment-icon-text">
                <h3 class="ment-high-emphasis">Design</h3>
                <div class="ment-row">
                    <h4 class="ment-medium-emphasis">Alvaro Viveiros: Mas por acaso vocês ...</h4>
                </div>
            </div>
        </div>
        <p class="ment-medium-emphasis">21:09</p>
    </div>
</div>

<div class="ment-feed-content">
    <div class="ment-feed-header">
        <div class="ment-feed-header">
            <div class="ment-icon"></div>
            <div class="ment-icon-text">
                <h3 class="ment-high-emphasis">Construção Civil</h3>
                <div class="ment-row">
                    <h4 class="ment-medium-emphasis">Lucas Medeiro: Vocês viram o post s...</h4>
                </div>
            </div>
        </div>
        <p class="ment-medium-emphasis">21:09</p>
    </div>
</div>

<div class="ment-feed-content">
    <div class="ment-feed-header">
        <div class="ment-feed-header">
            <div class="ment-icon"></div>
            <div class="ment-icon-text">
                <h3 class="ment-high-emphasis">Desenvolvimento</h3>
                <div class="ment-row">
                    <h4 class="ment-medium-emphasis">Renan Calheiros: As vezes não enten...</h4>
                </div>
            </div>
        </div>
        <p class="ment-medium-emphasis">21:09</p>
    </div>
</div>