<div *ngIf="!isProfile(); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div id="ment-mobile">
        <app-header></app-header>
        <div id="ment-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div id="ment-mobile">
        <div id="ment-content2">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</ng-template>