#ment-mobile {
    width: 414px;
    height: 736px;
}

#ment-content {
    height: 666px;
    width: 100%;
    background-color: #282A32;
}

#ment-content2 {
    height: 748px;
    width: 100%;
    background-color: #282A32;
}