<div class="ment-profile">

    <div id="ment-header">
        <h6 class="ment-high-emphasis">16:40</h6>
    </div>
    <div>
        <img id="ment-bg" src="assets/img/bg.png" alt="">
        <div class="ment-icon"></div>
    </div>
    <div class="ment-icon-text ment-spacer">
        <h4 class="ment-high-emphasis">User Name</h4>
        <h5 class="ment-medium-emphasis">Graduation</h5>
        <h5 class="ment-medium-emphasis">Semester</h5>
    </div>

    <div class="ment-content-spacer">
        <div id="ment-disc-trending">
            <h3 class="ment-high-emphasis ment-center" style="border-bottom: solid 2px #9175E8">Popular</h3>
            <h3 class="ment-medium-emphasis ment-center">Últimos Posts</h3>
        </div>
    </div>
    <div>
        <h5 class="ment-medium-emphasis">Pretende seguir a carreira de:</h5>
    </div>
    <div class="ment-s-spacer ment-flex-row">
        <div class="ment-flex-row">
            <img class="ment-comu-img" src="assets/img/Commu2.png" alt="">
            <p class="ment-high-emphasis">Design</p>
        </div>
        <div class="ment-end">
            <p class="ment-high-emphasis">12/01/2021</p>
        </div>
    </div>

    <div class="ment-content-Sspacer"></div>

    <div>
        <h5 class=" ment-s-spacer ment-medium-emphasis">Comunidades</h5>
    </div>
    <div class="ment-flex-row">
        <div class="ment-flex-row">
            <img class="ment-comu-img" src="assets/img/Commu3.png" alt="">
            <p class="ment-high-emphasis">Design</p>
        </div>
        <div class="ment-end">
            <p class="ment-high-emphasis">12/01/2021</p>
        </div>
    </div>
    <div class="ment-s-spacer ment-flex-row">
        <div class="ment-flex-row">
            <img class="ment-comu-img" src="assets/img/Commu1.png" alt="">
            <p class="ment-high-emphasis">Construção Civil</p>
        </div>
        <div class="ment-end">
            <p class="ment-high-emphasis">12/01/2021</p>
        </div>
    </div>
    <div class="ment-s-spacer ment-flex-row">
        <div class="ment-flex-row">
            <img class="ment-comu-img" src="assets/img/Commu2.png" alt="">
            <p class="ment-high-emphasis">Desenvolvimento</p>
        </div>
        <div class="ment-end">
            <p class="ment-high-emphasis">12/01/2021</p>
        </div>
    </div>
</div>