<div class="ment-disc-base">


    <div class="ment-disc">
        <div id="ment-disc-trending">
            <h3 class="ment-high-emphasis" style="border-bottom: solid 2px #9175E8">Popular</h3>
            <h3 class="ment-medium-emphasis">Últimos Posts</h3>
        </div>
        <div class="ment-disc-cards">
            <img class="ment-disc-card" src="assets/img/ment-disc-card1.png" alt="">
            <img class="ment-disc-card" src="assets/img/ment-disc-card2.png" alt="">
        </div>
    </div>

    <div>
        <div class="ment-disc-comu ment-spacer">
            <h5 class="ment-medium-emphasis">Comunidades crescendo</h5>
            <h5 class="ment-purple-emphasis">Ver todos</h5>
        </div>
        <div class="ment-spacer ment-flex-row">
            <div class="ment-flex-row">
                <p class="ment-high-emphasis">1</p>
                <img class="ment-comu-img" src="assets/img/Commu1.png" alt="">
                <p class="ment-high-emphasis">Advogados</p>
            </div>
            <div class="ment-end">
                <p class="ment-high-emphasis">+20 pessoas</p>
            </div>
        </div>

        <div class="ment-spacer ment-flex-row">
            <div class="ment-flex-row">
                <p class="ment-high-emphasis">2</p>
                <img class="ment-comu-img" src="assets/img/Commu2.png" alt="">
                <p class="ment-high-emphasis">Marketing</p>
            </div>
            <div class="ment-end">
                <p class="ment-high-emphasis">+12 pessoas</p>
            </div>
        </div>

        <div class="ment-spacer ment-flex-row ment-space-around">
            <div class="ment-flex-row">
                <p class="ment-high-emphasis">3</p>
                <img class="ment-comu-img" src="assets/img/Commu3.png" alt="">
                <p class="ment-high-emphasis">Recursos Humanos</p>
            </div>
            <div class="ment-end">
                <p class="ment-high-emphasis">+08 pessoas</p>
            </div>
        </div>
    </div>

    <div class="ment-content-spacer"></div>

    <div>
        <div class="ment-disc-comu ment-spacer">
            <h5 class="ment-medium-emphasis">Favoritos</h5>
        </div>
        <div class="ment-spacer ment-flex-row">
            <div class="ment-flex-row">
                <img class="ment-comu-img" src="assets/img/Fav1.png" alt="">
                <p class="ment-high-emphasis">Design</p>
                <p class="ment-high-emphasis">1278 pontos</p>
                <img class="ment-like" src="assets/img/Like.png" alt="">
            </div>
        </div>

        <div class="ment-spacer ment-flex-row">
            <div class="ment-flex-row">
                <img class="ment-comu-img" src="assets/img/Fav2.png" alt="">
                <p class="ment-high-emphasis">Construção Civil</p>
                <p class="ment-high-emphasis">857 pontos</p>
                <img class="ment-like" src="assets/img/Like.png" alt="">
            </div>
        </div>

        <div class="ment-spacer ment-flex-row ment-space-around">
            <div class="ment-flex-row">
                <img class="ment-comu-img" src="assets/img/Fav3.png" alt="">
                <p class="ment-high-emphasis">Desenvolvimento</p>
                <p class="ment-high-emphasis">203 pontos</p>
                <img class="ment-like" src="assets/img/Like.png" alt="">
            </div>
        </div>
    </div>

</div>